<%= form_with model: [book, book_comment] do |f| %>
    <div class="row">
        <div class="col-sm-12">
            <%= f.text_area :comment, rows:'5', class: "form-control", placeholder: "Input a comment..." %>
        </div>
    </div>
    <%= f.submit "submit", class: "btn btn-primary pull-right" %>
<% end %>